<!DOCTYPE html>
<html>
	<head>
		<title>Search for DVD's</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="content">
				<h1>DVD Search</h1>
				<table class="table table-striped">
					<tr>
						<th>Title</th>
						<th>Award</th>
					</tr>
					<% dvds.forEach(function(dvd, index){ %>
						<tr>
							<td><%= dvd.title %></td>
							<td><%= dvd.award %></td>
						</tr>
					<% }); %>
				</table>
			</div>
		</div>
	</body>
</html>
