<!DOCTYPE html>
<html>
	<head>
		<title>Search for DVD's</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="content">
				<h1>DVD Search</h1>
				<form action="/dvds" method="GET">
					<div class="form-group">
						<label for="title">Title</label>
						<input class="form-control" type="text" name="title" placeholder="Write title here">
					</div>
					<div class="form-group">
						<label for="award">Award</label>
						<select class="form-control" name="award">
							<option disabled selected>Please Select an Award</option>
							<option value="Oscar">Oscar</option>
							<option value="Grammy">Grammy</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="submit" name="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
